@page "/"
@using System.Globalization
@using WebDespair.WebBlazor.Clients
@using WebDespair.WebBlazor.Models

<PageTitle>Game Store</PageTitle>


@if (games is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped table-bordered table-hover mt-3">
		<thead class="table-dark">
		<th>Id</th>
		<th>Name</th>
		<th>Genre</th>
		<th class="text-end">Price</th>
		<th>Release Date</th>
		</thead>
		<tbody>
		@foreach (var game in games)
		{
			<tr>
				<td>@game.Id</td>
				<td>@game.Genre</td>
				<td>@game.Name</td>
				<td class="text-end">@game.Price.ToString("C2", new CultureInfo("en-US"))</td>
				<td>@game.ReleaseDate</td>
				<td>

				</td>
			</tr>
		}

		</tbody>
	</table>
}

@code
{
	private GamesClient _Client = new();

	private GameSummary[]? games;

	protected override void OnInitialized()
	{
		games = _Client.GetGames();
	}
}
